<app-header></app-header>
<main class="container">
  <h2>Menú</h2>
  <div class="card-grid">
    <a class="card card-link" [routerLink]="['/temperatura-ambiente']">
      <img src="assets/Temperatura%20Ambiente.png" alt="Temperatura Ambiente">
      <p>Temperatura ambiente</p>
    </a>
    <a class="card card-link" [routerLink]="['/nivel-de-luz']">
      <img src="assets/Nivel%20de%20Luz.png" alt="Nivel de Luz">
      <p>Nivel de luz</p>
    </a>
    <a class="card card-link" [routerLink]="['/humedad-suelo']">
      <img src="assets/logo.jpg" alt="Húmedad del suelo">
      <p>Húmedad del suelo</p>
    </a>
    <div class="card">
      <img src="assets/logo.jpg" alt="Húmedad del aire">
      <p>Húmedad del aire</p>
    </div>
  </div>
</main>
